@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
}

nav .nav-links-container a {
    text-decoration: none;
    color: inherit;
    padding: 1.2rem 1.2rem 1.6rem 1.2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    margin: 0.6rem 0.6rem 0 0.6rem;
}

p.info {
    margin: 0;
    color: inherit;
}

/* p:hover {
    background-color: white;
    color: lightblue;
    font-weight: 700;
    border-radius: 30% 30% 0 0;
    padding: 1.4rem 1rem 2.1rem 1rem;
} */

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    /* align-items: center;
    padding: 2rem 1rem; */
}

nav .main-container {
    display: flex;
    align-items: center;
    padding: 1.25rem
}

nav .info-container {
    display: flex;
    align-items: center;
}

nav .logo {
    height: 2.6rem;
}

/* bardzo dobry patent! */
nav .image-container {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 1.8rem;
    overflow: hidden;
    margin: 0 1rem;
}

nav .image-container img {
    width: 100%;
}

nav .nav-links-container {
    display: flex;
    align-items: center;
}

nav button {
    display: none;
}

nav button:hover {
    background-color: rgba(0, 0, 255, 0.6);
}

nav button:active {
    background-color: rgba(0, 0, 255, 0.3);
    color: aliceblue;
}

@media screen and (max-width: 760px) {
    nav button {
        display: block;
        border: none;
        padding: 0.6rem 1.2rem;
        border-radius: 1.2rem;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-family: inherit;
        font-weight: bolder;
        font-size: 1.2em;
    }

    nav .nav-links-container {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .menu-list-container .nav-link {
        display: block;
        background-color: lightskyblue;
        padding: 1.3rem;
    }

    .menu-list-container .nav-link:hover {
        display: block;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        border-radius: 1rem;
    }
}

.hidden {
    display: none !important;
}