@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', Helvetica, sans-serif;
    color: white;
    /* font-weight: 700; */
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

nav .main-container {
    display: flex;
    align-items: center;
    padding: 1.25rem;
}

nav .info-container {
    display: flex;
    align-items: center;
}

nav .logo {
    height: 2.6rem;
}

/* bardzo dobry patent! */
nav .image-container {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1rem;
}

nav .image-container img {
    width: 100%;
}

nav p {
    margin: 0;
}

nav .nav-links-container {
    display: flex;
    /* align-items: center; */
}

nav button {
    display: none;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1.2rem;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-family: inherit;
    font-weight: bolder;
    font-size: 1em;
}

nav button:hover {
    background-color: rgba(0, 0, 255, 0.6);
}

nav button:active {
    background-color: rgba(0, 0, 255, 0.3);
    color: aliceblue;
}

nav .nav-links-container a {
    font-size: 1.2em;
    padding: 1.8rem 1rem;
    border-radius: 1.2rem 1.2rem 0 0;
    margin: 0.6rem 0.6rem 0 0.6rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* text-wrap: nowrap; */
    color: inherit;
}

nav .nav-links-container a:hover {
    background-color: aliceblue;
    color: lightskyblue;
}

/* desktop first development */
@media screen and (max-width: 840px) {
    
    
    nav {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }

    nav button {
        display: block;
    }

    .hidden {
        display: none !important;
    }

    nav .main-container {
        justify-content: space-between;
        
    }
/* nie potrzebujemy już width 100% i block daje nam pojawieie się on top of ech other */
    nav .nav-links-container {
        display: block;
    }

    nav .nav-links-container a {
        background-color: lightskyblue;
        padding: 1.2rem;
        border-radius: 1.4rem;
        margin: 0.6rem;
    }

    nav .nav-links-container a:hover {
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
    }
}

